<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TUS - Project 3 Website</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="content">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='images/logo_black') }}" alt="Logo" class="logo">
        </div>
        <div class="video-container">
            <img src="{{ url_for('live_feed_route') }}" alt="Live Camera Feed" class="feed">
        </div>
    </div>
    
    <footer>
        Created by James Clarke and Odhrán Sisk
    </footer>
</body>
</html>